@using System.Security.Claims
@model client.Controllers.MessageIndexViewModel  
@inject client.App_Code.IMessageService MessageService


@{
    ViewData["Title"] = "Viestit";
}

@{
    var userId = @User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    int.TryParse(userId, out int id);
}

<h2>VIESTIT</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>

@{
    ViewData["CurrentUserId"] = id; 
}
<div class="d-flex justify-content-between align-items-center">
<h3>Yksityinen</h3>
<div class="toggle-chat" data-target="privateMessagesContainer">[Piilota]</div>
</div>
<div class="message-container" id="privateMessagesContainer">
<ul id="messagesPrivateList">
    @foreach (var item in Model.PrivateMessages)
    {
        @await Html.PartialAsync("_MessageItem", item)
    }
</ul>
</div>
<div class="d-flex justify-content-between align-items-center">
<h3>Julkinen</h3>
<div class="toggle-chat" data-target="globalMessagesContainer">[Piilota]</div>
</div>
<div class="message-container" id="globalMessagesContainer">
<ul id="messagesList">
    @foreach (var item in Model.Messages)
    {
        @await Html.PartialAsync("_MessageItem", item)
    }
</ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            Viesti
            <input id="messageInput" name="Message1" class="form-control" />
            <span asp-validation-for="NewMessage.Message1" class="text-danger"></span>
        </div>
        <div class="form-group">
           Vastaanottaja
            <select id="receiverId" name="ReceiverId" class="form-control" asp-items="ViewBag.ReceiverId"></select>
        </div>
        <div class="form-group form-check">
            <input id="PrivateInput" type="checkbox" class="form-check-input" asp-for="NewMessage.Private" />
            <label class="form-check-label private-message-label" for="PrivateInput">Yksityinen viesti</label>
        </div>
        <div class="form-group">
            <input id="sendButton" value="Lähetä viesti" class="btn btn-primary" />
        </div>
    </div>
</div>
<script src="/js/msg.js"></script>



@{
        MessageService.MarkMessagesAsRead(id);      
}
   
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

