@model client.Models.User
@using client.App_Code

@{
    ViewData["Title"] = "Kirjaudu";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">KIRJAUDU</h2>
                </div>
                <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Sähköposti
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                Salasana
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input type="hidden" id="gRecaptchaResponse" name="gRecaptchaResponse" />
            <div class="d-sm-flex justify-content-between  align-items-center">
                <div>
                    <div class="g-recaptcha" data-sitekey="@AppSecrets.SiteKey" data-callback="onRecaptchaSuccess"></div>
                    <span class="text-danger">@ViewBag.recaptchaError</span>
                </div>
                <div class="form-group">
                    <input type="submit" id="submitButton" value="Kirjaudu" class="btn btn-primary" />
                </div>
            </div>
        </form>
        <div><a asp-action="Recover">Salasana unohtunut?</a></div>
        <span class="text-black">@TempData["pswChange"]</span>
        <span class="text-danger">@ViewBag.loginMessage</span>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function onRecaptchaSuccess(token) {
        document.getElementById('gRecaptchaResponse').value = token;
        document.getElementById('submitButton').disabled = false;
    }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
