@model client.Controllers.RecoverUser

@{
    ViewData["Title"] = "Palauta salasana";
}

<h2>Palauta salasana</h2>

Annettuun sähköpostiin lähetetään sinulle linkki, jonka avulla voit luoda uuden salasanan.
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Recover">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lähetä linkki" class="btn btn-primary" />
            </div>
        </form>
        @ViewBag.NotFound
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
