@model client.Models.User

@{
    ViewData["Title"] = "Already Confirmed";
}
<h2>Vahvistettu</h2>
Sähköpostiosoite @Html.DisplayFor(model => model.Email) on jo vahvistettu.<br />
Tämän on voinut tehdä esimerkiksi automaattinen sähköpostin linkkien skannaus<br />

