@model client.Models.User

@{
    ViewData["Title"] = "Confirm";
}
<h1>Confirm</h1>
<ul>
    <li>@Model.Firstname</li>
    <li>@Model.Lastname</li>
    <li>@Model.Nickname</li>
    <li>@Model.Email</li>
</ul>


