@model client.Models.User

@{
    ViewData["Title"] = "Vahvista rekisteröitymisesi";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Vahvista rekisteröitymisesi</h2>
                </div>
                <div class="card-body">
                    <p>Olet vahvistamassa tunnuksen luomista sähköpostille: <strong>@Html.DisplayFor(model => model.Email)</strong>.</p>
                    <p>
                    <form asp-action="Confirmed">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="newUserId" value="@ViewBag.id" />
                        <div class="form-group">
                            <input type="submit" value=" Vahvista tunnus " class="btn btn-primary" />
                        </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>