@model client.Models.User

@{
    ViewData["Title"] = "Validation";
}
<h1>Validation message</h1>
Olemme lähettäneet sähköpostiin @Model.Email viestin jolla vahvistetaan rekisteröinti.
<a href="https://localhost:7137/Register/Confirm/@ViewBag.newId">https://localhost:7137/Register/Confirm/@ViewBag.newId</a>
