@model client.Models.User

@{
    ViewData["Title"] = "Validation";
}
<h2>Vahvistaminen</h2>
Olemme lähettäneet sähköpostiin @Html.DisplayFor(model => model.Email) linkin jolla vahvistat rekisteröintisi.
