@model client.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Admin / Tickets/ Edit</h1>

<h4>Ticket to @ViewBag.EventName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketId" />
            <input asp-for="EventId" type="hidden" value="@ViewBag.Event" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Valid" class="control-label"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Valid" value="true" class="form-check-input" id="ValidTrue" />
                    <label class="form-check-label" for="ValidTrue">Kyllä</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Valid" value="false" class="form-check-input" id="ValidFalse" />
                    <label class="form-check-label" for="ValidFalse">Ei</label>
                </div>
                <!--
                <div class="form-check">
                    <input type="radio" asp-for="Valid" value="" class="form-check-input" id="ValidNull" />
                    <label class="form-check-label" for="ValidNull">Ei valintaa</label>
                </div>
                -->
                <span asp-validation-for="Valid" class="text-danger"></span>
            </div>


    
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

