@model client.Models.User

@{
    ViewData["Title"] = "Tietoni";
}

<h2>TIETONI</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                Kutsumanimi
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Etunimi
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Sukunimi
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Sähköposti
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                Salasana
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="text-danger">@TempData["Alert"]</div>
        </form>
        <br />
     
        <div> <a asp-action="Remove" asp-route-id="@Model.UserId" id="deleteAccountLink">Poista tunnukseni</a></div>

        <script>
            document.getElementById('deleteAccountLink').addEventListener('click', function(e) {
                if (!confirm('Haluatko varmasti poistaa tunnuksesi? Tätä toimintoa ei voi peruuttaa.')) {
                    e.preventDefault();
                }
            });
        </script>


    </div>
</div>

