@model client.Models.User

@{
    ViewData["Title"] = "Tietoni";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">TIETONI</h2>
                </div>
                <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                Nimimerkki
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Etunimi
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Sukunimi
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                Sähköposti
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                Salasana
                <input type="password" id="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-group">
                Toista salasana
                <input type="password" id="confirmPassword" class="form-control" />
                <span id="passwordMatchError" class="text-danger" style="display:none;">Salasanat eivät täsmää</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div class="text-danger">@TempData["Alert"]</div>
            <div>@TempData["answer"]</div>
        </form>
        <br />
     
        <div> <a asp-action="Remove" asp-route-id="@Model.UserId" id="deleteAccountLink">Poista tietoni</a></div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('deleteAccountLink').addEventListener('click', function(e) {
        if (!confirm('Haluatko varmasti poistaa tietosi')) {
            e.preventDefault();
        }
    });
</script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const errorSpan = document.getElementById('passwordMatchError');

        function validatePassword() {
            if (passwordInput.value !== confirmPasswordInput.value) {
                errorSpan.style.display = 'block';
                confirmPasswordInput.setCustomValidity("Salasanat eivät täsmää");
            } else {
                errorSpan.style.display = 'none';
                confirmPasswordInput.setCustomValidity('');
            }
        }

        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validatePassword);
    });

     document.querySelector('form').addEventListener('submit', function(e) {
        if (passwordInput.value !== confirmPasswordInput.value) {
            e.preventDefault();
            errorSpan.style.display = 'block';
        }
    });
</script>
