html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin: 0;
}

.full-width-image-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

.event-title a {
    font-family: 'Fredoka One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fcfdf2;
    text-shadow: 1px 1px 3px #ff3131;
    text-decoration: none;
}

    .event-title a:hover {
        color: #ff3131;
        text-decoration: underline;
    }

.event-date {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ff3131;
}

.event-countdown {
    font-size: 1rem;
    color: #ff3131;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    font-family: 'Fredoka One', sans-serif;
}


.img-class {
    max-width: 300px;
    margin: 2rem auto;
    display: block;

}

.message-container {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: all 0.3s ease;
    opacity: 0.7;
    border-radius:10px;
}

    .message-container ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    .message-container.hidden {
        display: none;
    }

.toggle-chat {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
    font-weight: normal;
}

    .toggle-chat:hover {
        color: darkblue;
    }


.message-user-link {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}
input {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
input:hover, input:focus {
        opacity: 1;
}
select {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

    select:hover, input:focus {
        opacity: 1;
    }

.card {
    background-color: #ffffffa9 !important;
}

.table {
    background-color: #ffffffa9 !important;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
h2 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2rem;
    color: #ff3131;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.ticket-link {
    color: #249d48;
    text-decoration: none;
    margin-left: 4rem;
}

.ticket-link:hover {
    color: #1f924c
    text-decoration: underline;
}

.table-responsive {
    color: #333333;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.logonumero {
    font-size: 2rem;
    line-height: 1.6;
    color: var(--off-white);
    font-family: 'Fredoka One', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: #333333;
    font-family: 'Nunito', sans-serif;
}

.insert {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
