html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin: 0;
}

.full-width-image-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

.event-title a {
    font-family: 'Fredoka One', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--wine) !important;
    text-shadow: 1px 1px 3px var(--off-white);
    text-decoration: none;
}

    .event-title a:hover {
        color: var(--red) !important;
        text-decoration: underline;
        background: rgba(255, 255, 255, 0.2);
        transform: translateY(-3px) skewY(1deg);
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.event-title-link {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--wine)!important;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

    .event-title-link:hover {
        color: #d00000;
        text-decoration: underline;
    }

.event-date {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ff3131;
}

.event-countdown {
    font-size: 1rem;
    color: #ff3131;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    font-family: 'Fredoka One', sans-serif;
    margin-bottom: 30px;
}

.img-class {
    max-width: 300px;
    margin: 2rem auto;
    display: block;

}

input {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
input:hover, input:focus {
        opacity: 1;
}
select {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

    select:hover, input:focus {
        opacity: 1;
    }

.card {
    background-color: #ffffffa9 !important;
}

.table {
    background-color: #ffffffa9 !important;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

@media (max-width: 576px) {
    p {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}



h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2rem;
    color: var(--wine);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2rem;
    color: #ff3131;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.ticket-link {
    color: #249d48;
    text-decoration: none;
    margin-left: 6rem;
}

.ticket-link:hover {
    color: #1f924c
    text-decoration: underline;
}

.table-responsive {
    color: #333333;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

@media (max-width: 576px) {
    .table-responsive {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}


.logonumero {
    font-size: 2rem;
    line-height: 1.6;
    color: var(--dark-green);
    font-family: 'Fredoka One', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: #333333;
    font-family: 'Nunito', sans-serif;
}

.insert {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    list-style-type: none;
}
