.private-message-label {
    color: rgb(128, 128, 128);
    transition: color 0.3s ease;
}

#PrivateInput:checked ~ .private-message-label,
#PrivateInput:checked + .private-message-label {
    color: inherit;
}
.responsive-image {
    max-width: 100%;
    height: auto;
    width: auto;
}


.message-container {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2b2;
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

    .message-container ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    .message-container.hidden {
        display: none;
    }


.toggle-chat {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
    font-weight: normal;
}

    .toggle-chat:hover {
        color: darkblue;
    }


.message-user-link {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}