@model client.Controllers.EventsViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="height: 2rem;"></div>
    <div style="text-align: center">
        <img src="~/images/lippuotsikko.png" alt="Liputjaohjelma" style="height:4rem" />
    </div>
<div style="text-align: center">
    <img src="~/images/NewFolder/nuoli.png" alt="nuoli" style="height:6rem" />
</div>


@foreach (var item in Model.ComingEvents) {
            
           
                var DateStart = item.Date.HasValue ? item.Date.Value.ToString("dd.MM.yyyy HH:mm"):"";
                var DateEnd = item.Date.HasValue ? item.DateEnd.Value.ToString("dd.MM.yyyy HH:mm") : "";

    <h3 class="event-title a text-center"><a asp-action="Details" asp-route-id="@item.EventId">@Html.DisplayFor(modelItem => item.Name)</a>

    </h3>
    <div class="text-center event-countdown"> @DateStart - @DateEnd </div>
}
<hr/>
<div style="height: 2rem;"></div>


    <div style="text-align: center">
        <img src="~/images/NewFolder/menneet.png" alt="Menneet" style="height:8rem" />
    </div>
<div style="height: 2rem;"></div>
@foreach (var item in Model.PastEvents)
{
    var DateStart = item.Date.HasValue ? item.Date.Value.ToString("dd.MM.yyyy") : "";
    var DateEnd = item.Date.HasValue ? item.DateEnd.Value.ToString("dd.MM.yyyy") : "";

    <h3 class ="event-title a text-center"><a asp-action="Details" asp-route-id="@item.EventId">@Html.DisplayFor(modelItem => item.Name)</a></h3>
    <div class="text-center event-countdown"> @DateStart - @DateEnd </div>
}
